<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MMO | My Game Collection</title>

        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript" src="script.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press Start 2P">
    </head>

    <body onload="onLoad()">
        <header class="rounded title-header">
            <h1 class="centered white title">Massively Multiplayer Online Games</h1>
        </header>

        <section class="rounded inline">
            <ul class="navbar-row">
                <li class="navLink"><a href="index.html">Home</a></li>
                <li class="navLink"><a href="index_fps.html">FPS</a></li>
                <li class="navLink active"><a href="index_mmo.html">MMO</a></li>
                <li class="navLink"><a href="index_moba.html">MOBA</a></li>
                <li class="navLink"><a href="index_rts.html">RTS</a></li>
                <li class="navLink"><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li class="navLink"><a href="https://github.com/Damian-crypto" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </section>

        <div class="inlineFlex">
            <section class="rounded inline floating-box content">
                <h2 class="videoHeading">Need for Speed Rivals</h2>
                <div class="videoCard">
                    <iframe width="800" height="500" src="https://www.youtube.com/embed/xsKHweFi7AU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <p class="description-text">
                    The game is set in an open world environment called Redview County, where players can choose to race as either a cop or a racer.
                    The story of Need for Speed Rivals is focused on the intense rivalry between police and street racers in Redview County and the adrenaline-fueled racing action that takes place in the game's open world environment.
                </p>
                <h2 class="videoHeading">Need for Speed Payback</h2>
                <div class="videoCard">
                    <iframe width="800" height="500" src="https://www.youtube.com/embed/K-5EdHZ0hBs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <p class="description-text">
                    The game is set in the fictional Fortune Valley, where players can choose to race as one of three characters and build a crew to take down a criminal cartel known as "The House."
                    <br />
                    The story of Need for Speed Payback is focused on the characters' desire for revenge against The House and the high-stakes racing action that takes place in the game's open world environment.
                    <br />
                    In addition to the main storyline, Need for Speed Payback features a large open world environment with various races and events to participate in. The game also includes a variety of cars to unlock and customize, as well as an online multiplayer mode.
                </p>
            </section>
            <section class="rounded inline">
                <div class="sidebar">
                    <h2>Updates on games</h2>
                    <h3>15 New Games</h3>
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/i-LESlVo2Qc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <p>Tears of the Kingdom finally received some extensive gameplay, and development has wrapped, which means it's on track to launch in May. That's roughly six weeks away, but the good news is that plenty of big games are launching in April to help pass the time. 
                        These include highly anticipated sequels, with at least one in development for nearly a decade, a new Bithell Games visual novel-style adventure, golf and various shades of cosmic horror. Let's look at all 15 here</p>
                    <h3>How video games are made</h3>
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/PYNftj1DNKc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <p>Choose a game engine: A game engine is a software framework that provides the tools and features to build games. Some popular game engines include Unity, Unreal Engine, and Godot. Research and select a game engine that aligns with your skill level and development goals.
                        Learn a programming language: Most game engines require you to write code in a programming language. Popular languages used in game development include C#, C++, and Java. Choose a language and start learning its basics.
                        Start small: Begin with a simple game concept and work your way up to more complex projects. This will help you develop your skills gradually and avoid becoming overwhelmed.
                        Build a team: Game development is often a team effort. Consider collaborating with artists, designers, and other developers who can help bring your game to life.
                        Utilize online resources: There are many online resources available to help you learn game development, such as tutorials, forums, and online courses. Take advantage of these resources to enhance your skills and knowledge.
                        Test your game: Regularly test your game throughout the development process to ensure that it works as intended and is fun to play.</p>
                </div>
            </section>
        </div>

        <div id="app">
            <div class="vue-container">
                <h2>Comments</h2>
                <span class="vue-single-comment">
                    <div class="vue-row">
                        <table class="vue-comment-table vue-centered">
                            <tr>
                                <th>User Name</th>
                                <td><input type="text" v-model="userName" placeholder="John Doe"></td>
                            </tr>
                            <tr>
                                <th>User Avatar</th>
                                <td><input type="url" v-model="userAvatar" placeholder="Enter your avatar image url"></td>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <td><input type="text" v-model="commentTitle" placeholder="This is my topic"></td>
                            </tr>
                            <tr>
                                <th>Comment</th>
                                <td><textarea v-model="commentBody">This is comment body</textarea></td>
                            </tr>
                            <tr>
                                <td style="text-align: right" colspan="2">
                                    <button @click="commentPost" class="vue-btn-post">POST</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </span>

                <span class="vue-single-comment" v-for="(data, id) in dataSet">
                    <div class="vue-row">
                        <div class="vue-user-image-container vue-column">
                            <div class="vue-cell">
                                <img class="vue-user-image" width="120" :src="data['userAvatar']">
                            </div>
                        </div>
                        <div class="vue-column">
                            <div class="vue-row">
                                <div class="vue-cell">
                                    <span class="vue-title">{{ data['title'] }}</span>
                                </div>
                            </div>
                            <div class="vue-row">
                                <div class="vue-cell">
                                    <span class="vue-date-posted">{{ data['date'] }}</span>
                                </div>
                            </div>
                            <div class="vue-row">
                                <div class="vue-cell">
                                    <span class="vue-comment-body">{{ data['body'] }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vue-row">
                        <div class="vue-column">
                            <div class="vue-cell">
                                <span class="vue-user-name" :title="data['post']">{{ data['userName'] }}</span>
                            </div>
                        </div>
                        <div class="vue-column vue-righted">
                            <div class="vue-cell">
                                <button class="vue-btn-vote" @click="voteup(id)" :disabled="data['updisable']"><i class="fa-solid fa-arrow-up"></i></button>
                            </div>
                            <span>&nbsp;{{ data['voteCount'] }}&nbsp;</span>
                            <div class="vue-cell">
                                <button class="vue-btn-vote" @click="votedown(id)" :disabled="data['downdisable']"><i class="fa-solid fa-arrow-down"></i></button>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>

        <script type="module">
            import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';

            createApp({
                data() {
                    return {
                        dataSet: [
                            {
                                title: "My recommendation",
                                userName: "Jennifer Hart",
                                post: 'Master in games',
                                date: "2023-3-1",
                                userAvatar: "https://randomuser.me/api/portraits/women/86.jpg",
                                voteCount: 53,
                                updisable: false,
                                downdisable: true,
                                body: "Need for Speed Payback is an exciting addition to the long-running racing game franchise. The game's focus on high-speed action, intense car chases, and thrilling heists made for a truly heart-pumping experience. I appreciated the variety of vehicles available in the game, from classic muscle cars to exotic supercars, each with their own unique handling and customization options. The graphics were also top-notch, with beautiful and detailed environments that really brought the game's world to life. The game's storyline was engaging and kept me hooked throughout, and the inclusion of diverse characters added an extra layer of depth to the game. While the game may not be perfect, with some occasional bugs and glitches, it's still a must-play for any fans of the racing game genre. Overall, I highly recommend Need for Speed Payback for anyone looking for a thrilling and immersive racing game experience."
                            },
                            {
                                title: "DONT PLAY NEED FOR SPEED",
                                userName: "Annonymous User",
                                post: 'Beginner in games',
                                date: "2023-2-24",
                                userAvatar: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTpMFOfz3TDo0InAq1_ZvGfR0ER1785P_shQ&usqp=CAU",
                                voteCount: 0,
                                updisable: false,
                                downdisable: true,
                                body: "I played Need for Speed Payback and it sucked. I didn't like it at all. Don't waste your time or money on this game."
                            },
                            {
                                title: "Best game series I ever played",
                                userName: "Ritthy Daniels",
                                post: 'Beginner in games',
                                date: "2023-2-21",
                                userAvatar: "https://randomuser.me/api/portraits/men/93.jpg",
                                voteCount: 5,
                                updisable: false,
                                downdisable: true,
                                body: "I've been a fan of the Need for Speed series for years, and it continues to impress me with each new installment. The games always provide a great mix of high-speed racing action, customization options, and a wide variety of cars to choose from. What I appreciate most about the series is how each game feels fresh and unique, with its own story and gameplay mechanics. Whether you're looking to race through city streets or tackle off-road courses, there's something for everyone in the Need for Speed series."
                            },
                        ],
                        commentTitle: "",
                        commentBody: "",
                        userAvatar: "",
                        userName: "",
                    };
                },
                methods: {
                    votedown(id) {
                        let votes = this.dataSet[id]['voteCount'];
                        votes--;
                        this.dataSet[id]['voteCount'] = votes;
                        this.dataSet[id]['downdisable'] = true;
                        this.dataSet[id]['updisable'] = false;
                    },
                    voteup(id) {
                        let votes = this.dataSet[id]['voteCount'];
                        votes++;
                        this.dataSet[id]['voteCount'] = votes;
                        this.dataSet[id]['downdisable'] = false;
                        this.dataSet[id]['updisable'] = true;
                    },
                    commentPost() {
                        let date = new Date();
                        if (this.commentTitle != "" && this.commentBody != "") {
                            let userName = this.userName;
                            let userAvatar = this.userAvatar;

                            if (this.userAvatar == "") {
                                userAvatar = "https://gyo.gg/images/image.php?var=venue&varb=albanian-gaming-arena";
                            }

                            if (this.userName == "") {
                                userName = "Anonymous User";
                            }
                            
                            let comment = {
                                title: this.commentTitle,
                                userName: userName,
                                post: 'Begginer in games',
                                date: `${date.getFullYear()}-${date.getMonth()}-${date.getDate()}`,
                                userAvatar: userAvatar,
                                voteCount: 0,
                                updisable: false,
                                downdisable: true,
                                body: this.commentBody
                            };

                            this.dataSet = [comment, ...this.dataSet];
                        } else {
                            alert("You cannot comment if you don't include title and comment body!");
                        }
                    }
                }
            }).mount("#app");
        </script>

        <footer class="rounded centered" style="background: rgba(0, 0, 0, 0.7); padding: 10px; color: white">
            &copy; 2023. Damian Chamel
        </footer>
    </body>
</html>
