<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>RTS | My Game Collection</title>

        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript" src="script.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press Start 2P">
    </head>

    <body onload="onLoad()">
        <header class="rounded title-header">
            <h1 class="centered white title">Real Time Strategy Games</h1>
        </header>

        <section class="rounded inline">
            <ul class="navbar-row">
                <li class="navLink"><a href="index.html">Home</a></li>
                <li class="navLink"><a href="index_fps.html">FPS</a></li>
                <li class="navLink"><a href="index_mmo.html">MMO</a></li>
                <li class="navLink"><a href="index_moba.html">MOBA</a></li>
                <li class="navLink active"><a href="index_rts.html">RTS</a></li>
                <li class="navLink"><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li class="navLink"><a href="https://github.com/Damian-crypto" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </section>

        <div class="inlineFlex">
            <section class="rounded inline floating-box content">
                <h2 class="videoHeading">Taur</h2>
                <div class="videoCard">
                    <iframe width="800" height="500" src="https://www.youtube.com/embed/7fTCc04kS8I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <p class="description-text">
                    "Taur" is an engaging and challenging tower defense game that offers a fresh
                    take on the genre with its first-person perspective and strategic depth.
                    In the game, the player takes on the role of a hero who must defend a planet from
                    waves of invading robots by strategically placing towers and using special abilities.
                    The game has received positive reviews from critics and players alike,
                    particularly for its unique gameplay mechanics and stylish graphics.
                </p>
                <h2 class="videoHeading">Age of Empires</h2>
                <div class="videoCard">
                    <iframe width="800" height="500" src="https://www.youtube.com/embed/5TnynE3PuDE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <p class="description-text">
                    "Age of Empires" is a real-time strategy game series that takes place throughout
                    different eras of human history, from ancient civilizations to the colonial period.
                    The game's storyline varies depending on the era and campaign chosen, but generally,
                    the player takes on the role of a leader who must build
                    and manage a civilization, gather resources, and lead their armies to victory.
                    <br />
                    Throughout the series, players must research technologies, train units, and manage
                    resources such as food, wood, and gold. The game's focus on historical accuracy and
                    attention to detail, such as accurately representing the architecture and units of
                    each civilization, has made it a popular choice for history buffs and gamers alike.
                </p>
            </section>
            <section class="rounded inline">
                <div class="sidebar">
                    <h2>Updates on games</h2>
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/xej0Uzz0140" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <p>With the new year fast approaching and many new game releases on the horizon, it’s time to look ahead at some of the biggest upcoming games of 2023.  From Starfield coming to Xbox Series X|S and PC, to Spider-Man 2 releasing on PlayStation 5, and Legend of Zelda: Tears of the Kingdom coming to Nintendo Switch, there's LITERALLY something for everyone! So strap in and let's find out what's in store for us in 2023!</p>
                </div>
            </section>
        </div>

        <div id="app">
            <div class="vue-container">
                <h2>Comments</h2>
                <span class="vue-single-comment">
                    <div class="vue-row">
                        <table class="vue-comment-table vue-centered">
                            <tr>
                                <th>User Name</th>
                                <td><input type="text" v-model="userName" placeholder="John Doe"></td>
                            </tr>
                            <tr>
                                <th>User Avatar</th>
                                <td><input type="url" v-model="userAvatar" placeholder="Enter your avatar image url"></td>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <td><input type="text" v-model="commentTitle" placeholder="This is my topic"></td>
                            </tr>
                            <tr>
                                <th>Comment</th>
                                <td><textarea v-model="commentBody">This is comment body</textarea></td>
                            </tr>
                            <tr>
                                <td style="text-align: right" colspan="2">
                                    <button @click="commentPost" class="vue-btn-post">POST</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </span>

                <span class="vue-single-comment" v-for="(data, id) in dataSet">
                    <div class="vue-row">
                        <div class="vue-user-image-container vue-column">
                            <div class="vue-cell">
                                <img class="vue-user-image" width="120" :src="data['userAvatar']">
                            </div>
                        </div>
                        <div class="vue-column">
                            <div class="vue-row">
                                <div class="vue-cell">
                                    <span class="vue-title">{{ data['title'] }}</span>
                                </div>
                            </div>
                            <div class="vue-row">
                                <div class="vue-cell">
                                    <span class="vue-date-posted">{{ data['date'] }}</span>
                                </div>
                            </div>
                            <div class="vue-row">
                                <div class="vue-cell">
                                    <span class="vue-comment-body">{{ data['body'] }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vue-row">
                        <div class="vue-column">
                            <div class="vue-cell">
                                <span class="vue-user-name" :title="data['post']">{{ data['userName'] }}</span>
                            </div>
                        </div>
                        <div class="vue-column vue-righted">
                            <div class="vue-cell">
                                <button class="vue-btn-vote" @click="voteup(id)" :disabled="data['updisable']"><i class="fa-solid fa-arrow-up"></i></button>
                            </div>
                            <span>&nbsp;{{ data['voteCount'] }}&nbsp;</span>
                            <div class="vue-cell">
                                <button class="vue-btn-vote" @click="votedown(id)" :disabled="data['downdisable']"><i class="fa-solid fa-arrow-down"></i></button>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>

        <script type="module">
            import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';

            createApp({
                data() {
                    return {
                        dataSet: [
                            {
                                title: "Taur is my BEST",
                                userName: "Kraken",
                                post: 'Master in games',
                                date: "2023-2-21",
                                userAvatar: "https://img.freepik.com/premium-vector/gamer-streamer-mascot-logo-vector-illustration_382438-609.jpg?w=2000",
                                voteCount: 601,
                                updisable: false,
                                downdisable: true,
                                body: "I recently played Taur and I have to say I was thoroughly impressed with this tower defense game. The graphics are stunning, and the gameplay mechanics are innovative and engaging. I really enjoyed the challenge of defending my base against waves of enemies, and the variety of towers and upgrades kept me engaged throughout the game. I also appreciated the storyline, which was well-developed and kept me invested in the game's outcome. The music and sound effects were also top-notch and added to the overall immersive experience. If you're a fan of tower defense games, I highly recommend giving Taur a try - it's one of the best I've played in a long time."
                            },
                            {
                                title: "My experience",
                                userName: "Sophie Baker",
                                post: 'Beginner in games',
                                date: "2023-2-21",
                                userAvatar: "https://randomuser.me/api/portraits/women/72.jpg",
                                voteCount: 6,
                                updisable: false,
                                downdisable: true,
                                body: "As a long-time fan of the Age of Empires series, I was eagerly anticipating the release of Age of Empires 4, and I have to say that it did not disappoint. The game manages to capture the essence of the classic Age of Empires gameplay while also introducing new and exciting elements. The graphics are stunning, and the sound effects and music are incredibly immersive. I also appreciate the attention to detail in the historical accuracy of the game, which adds an extra layer of depth and interest. The campaign mode is engaging, and the AI opponents are challenging and keep the game interesting even after multiple playthroughs. If you're a fan of real-time strategy games or the Age of Empires series, I highly recommend giving Age of Empires 4 a try - it's an excellent addition to the series."
                            },
                        ],
                        commentTitle: "",
                        commentBody: "",
                        userAvatar: "",
                        userName: "",
                    };
                },
                methods: {
                    votedown(id) {
                        let votes = this.dataSet[id]['voteCount'];
                        votes--;
                        this.dataSet[id]['voteCount'] = votes;
                        this.dataSet[id]['downdisable'] = true;
                        this.dataSet[id]['updisable'] = false;
                    },
                    voteup(id) {
                        let votes = this.dataSet[id]['voteCount'];
                        votes++;
                        this.dataSet[id]['voteCount'] = votes;
                        this.dataSet[id]['downdisable'] = false;
                        this.dataSet[id]['updisable'] = true;
                    },
                    commentPost() {
                        let date = new Date();
                        if (this.commentTitle != "" && this.commentBody != "") {
                            let userName = this.userName;
                            let userAvatar = this.userAvatar;

                            if (this.userAvatar == "") {
                                userAvatar = "https://gyo.gg/images/image.php?var=venue&varb=albanian-gaming-arena";
                            }

                            if (this.userName == "") {
                                userName = "Anonymous User";
                            }
                            
                            let comment = {
                                title: this.commentTitle,
                                userName: userName,
                                post: 'Begginer in games',
                                date: `${date.getFullYear()}-${date.getMonth()}-${date.getDate()}`,
                                userAvatar: userAvatar,
                                voteCount: 0,
                                updisable: false,
                                downdisable: true,
                                body: this.commentBody
                            };

                            this.dataSet = [comment, ...this.dataSet];
                        } else {
                            alert("You cannot comment if you don't include title and comment body!");
                        }
                    }
                }
            }).mount("#app");
        </script>

        <footer class="rounded centered" style="background: rgba(0, 0, 0, 0.7); padding: 10px; color: white">
            &copy; 2023. Damian Chamel
        </footer>
    </body>
</html>
