<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>FPS | My Game Collection</title>

        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript" src="script.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press Start 2P">
    </head>

    <body onload="onLoad()">
        <header class="rounded title-header">
            <h1 class="centered white title">First Person Shooter Games</h1>
        </header>

        <section class="rounded inline">
            <ul class="navbar-row">
                <li class="navLink"><a href="index.html">Home</a></li>
                <li class="navLink active"><a href="index_fps.html">FPS</a></li>
                <li class="navLink"><a href="index_mmo.html">MMO</a></li>
                <li class="navLink"><a href="index_moba.html">MOBA</a></li>
                <li class="navLink"><a href="index_rts.html">RTS</a></li>
                <li class="navLink"><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li class="navLink"><a href="https://github.com/Damian-crypto" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </section>

        <div class="inlineFlex">
            <section class="rounded inline floating-box content">
                <h2 class="videoHeading">Far Cry 1</h2>
                <div class="videoCard">
                    <iframe width="800" height="500" src="https://www.youtube.com/embed/NeyY5P35ARs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <p class="description-text">
                    The story of Far Cry 1 follows Jack Carver, a former Special Forces operative who has become a freelance boat charterer. He is hired by a journalist named Valerie Cortez to take her to an island where she believes she will find evidence of illegal activity by a scientist named Dr. Krieger.
                    However, when they arrive on the island, they are attacked by mercenaries who are under the command of Dr. Krieger. Jack manages to escape and teams up with an ally named Doyle to rescue Valerie and uncover the truth behind Dr. Krieger's experiments.
                    Throughout the game, Jack must fight his way through hordes of mercenaries and mutants that were created as a result of Dr. Krieger's experiments. Along the way, he uncovers a larger conspiracy involving a mysterious organization known as "The Cartel" and their plans for world domination.
                    Far Cry 1 received critical acclaim for its open-world gameplay, stunning graphics, and engaging storyline. It went on to become one of the most successful video game franchises of all time, spawning several sequels and spin-off games.
                </p>
                <h2 class="videoHeading">Far Cry 2</h2>
                <div class="videoCard">
                    <iframe width="800" height="500" src="https://www.youtube.com/embed/gf5h4co4Ydc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <p class="description-text">
                    Set in a fictional Central African country engulfed in civil war, the storyline follows a mercenary who is assigned to kill the Jackal, a weapons dealer inflaming the conflict. The player navigates the open world, completing missions for factions and allies called Buddies while managing their health and equipment.
                </p>
            </section>
            <section class="rounded inline">
                <div class="sidebar">
                    <h2>Updates on games</h2>
                    <h3>Current students projects on games</h3>
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/PXJ3nv8Bi9c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <p>Let Andreas, Level Artist at Ubisoft Düsseldorf, tell you about what was special for him while being a jury member for the Game Together and how impressed he is about current student projects.</p>
                    <h3>FIFA 23 | eChampions League</h3>
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/7LHbfGFr194" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <p>"eChampions League" which is a tournament organized by EA Sports as part of the FIFA 19 Global Series. It is a competitive tournament for professional FIFA gamers who compete for a chance to win a portion of the prize pool and qualify for the FIFA eWorld Cup. The tournament features some of the best FIFA gamers in the world and is played on the PlayStation 4 console. The eChampions League is separate from the regular UEFA Champions League, which is a real-life football competition.</p>
                </div>
            </section>
        </div>

        <div id="app">
            <div class="vue-container">
                <h2>Comments</h2>
                <span class="vue-single-comment">
                    <div class="vue-row">
                        <table class="vue-comment-table vue-centered">
                            <tr>
                                <th>User Name</th>
                                <td><input type="text" v-model="userName" placeholder="John Doe"></td>
                            </tr>
                            <tr>
                                <th>User Avatar</th>
                                <td><input type="url" v-model="userAvatar" placeholder="Enter your avatar image url"></td>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <td><input type="text" v-model="commentTitle" placeholder="This is my topic"></td>
                            </tr>
                            <tr>
                                <th>Comment</th>
                                <td><textarea v-model="commentBody">This is comment body</textarea></td>
                            </tr>
                            <tr>
                                <td style="text-align: right" colspan="2">
                                    <button @click="commentPost" class="vue-btn-post">POST</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </span>

                <span class="vue-single-comment" v-for="(data, id) in dataSet">
                    <div class="vue-row">
                        <div class="vue-user-image-container vue-column">
                            <div class="vue-cell">
                                <img class="vue-user-image" width="120" :src="data['userAvatar']">
                            </div>
                        </div>
                        <div class="vue-column">
                            <div class="vue-row">
                                <div class="vue-cell">
                                    <span class="vue-title">{{ data['title'] }}</span>
                                </div>
                            </div>
                            <div class="vue-row">
                                <div class="vue-cell">
                                    <span class="vue-date-posted">{{ data['date'] }}</span>
                                </div>
                            </div>
                            <div class="vue-row">
                                <div class="vue-cell">
                                    <span class="vue-comment-body">{{ data['body'] }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vue-row">
                        <div class="vue-column">
                            <div class="vue-cell">
                                <span class="vue-user-name" :title="data['post']">{{ data['userName'] }}</span>
                            </div>
                        </div>
                        <div class="vue-column vue-righted">
                            <div class="vue-cell">
                                <button class="vue-btn-vote" @click="voteup(id)" :disabled="data['updisable']"><i class="fa-solid fa-arrow-up"></i></button>
                            </div>
                            <span>&nbsp;{{ data['voteCount'] }}&nbsp;</span>
                            <div class="vue-cell">
                                <button class="vue-btn-vote" @click="votedown(id)" :disabled="data['downdisable']"><i class="fa-solid fa-arrow-down"></i></button>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>

        <script type="module">
            import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';

            createApp({
                data() {
                    return {
                        dataSet: [
                            {
                                title: "Far Cry I is the best",
                                userName: "Victor Hernandez",
                                post: 'Master in games',
                                date: "2023-3-21",
                                userAvatar: "https://randomuser.me/api/portraits/men/54.jpg",
                                voteCount: 500,
                                updisable: false,
                                downdisable: true,
                                body: "I recently played Far Cry 1 for the first time and I have to say, I was blown away. The game's lush tropical setting, intelligent AI, and varied gameplay made for an incredibly immersive experience. I loved exploring the open world and encountering different enemy factions, each with their own strengths and weaknesses. The graphics and sound design still hold up well today, and the storyline kept me engaged from start to finish. The game's emphasis on player choice and strategic thinking added another layer of depth to the gameplay, making it more than just a run-and-gun shooter. Overall, I highly recommend Far Cry 1 to anyone looking for a thrilling and memorable gaming experience."
                            },
                            {
                                title: "My far cry journy",
                                userName: "Colleen Gomez",
                                post: 'Beginner in games',
                                date: "2023-2-1",
                                userAvatar: "https://randomuser.me/api/portraits/women/77.jpg",
                                voteCount: 10,
                                updisable: false,
                                downdisable: true,
                                body: "Far Cry 2 is a thrilling game that takes players on a wild journey through the African savannah. The game's open-world setting is expansive and full of opportunities for exploration and adventure. I loved the game's unique features, like the dynamic weather system, which added an extra layer of realism to the game. The graphics and sound design were also impressive, immersing me in the game's world and making me feel like I was really there. The game's storyline was compelling and kept me engaged throughout, and I appreciated the freedom to make choices that had a real impact on the game's outcome. While the game may have some flaws, like the lack of fast travel options, it's still a must-play for any fans of the first-person shooter genre. Overall, I highly recommend Far Cry 2 for anyone looking for an exciting and unforgettable gaming experience."
                            },
                        ],
                        commentTitle: "",
                        commentBody: "",
                        userAvatar: "",
                        userName: "",
                    };
                },
                methods: {
                    votedown(id) {
                        let votes = this.dataSet[id]['voteCount'];
                        votes--;
                        this.dataSet[id]['voteCount'] = votes;
                        this.dataSet[id]['downdisable'] = true;
                        this.dataSet[id]['updisable'] = false;
                    },
                    voteup(id) {
                        let votes = this.dataSet[id]['voteCount'];
                        votes++;
                        this.dataSet[id]['voteCount'] = votes;
                        this.dataSet[id]['downdisable'] = false;
                        this.dataSet[id]['updisable'] = true;
                    },
                    commentPost() {
                        let date = new Date();
                        if (this.commentTitle != "" && this.commentBody != "") {
                            let userName = this.userName;
                            let userAvatar = this.userAvatar;

                            if (this.userAvatar == "") {
                                userAvatar = "https://gyo.gg/images/image.php?var=venue&varb=albanian-gaming-arena";
                            }

                            if (this.userName == "") {
                                userName = "Anonymous User";
                            }
                            
                            let comment = {
                                title: this.commentTitle,
                                userName: userName,
                                post: 'Begginer in games',
                                date: `${date.getFullYear()}-${date.getMonth()}-${date.getDate()}`,
                                userAvatar: userAvatar,
                                voteCount: 0,
                                updisable: false,
                                downdisable: true,
                                body: this.commentBody
                            };

                            this.dataSet = [comment, ...this.dataSet];
                        } else {
                            alert("You cannot comment if you don't include title and comment body!");
                        }
                    }
                }
            }).mount("#app");
        </script>

        <footer class="rounded centered" style="background: rgba(0, 0, 0, 0.7); padding: 10px; color: white">
            &copy; 2023. Damian Chamel
        </footer>
    </body>
</html>
