<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MOBA | My Game Collection</title>

        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript" src="script.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press Start 2P">
    </head>

    <body onload="onLoad()">
        <header class="rounded title-header">
            <h1 class="centered white title">Multiplayer Online Battle Arena</h1>
        </header>

        <section class="rounded inline">
            <ul class="navbar-row">
                <li class="navLink"><a href="index.html">Home</a></li>
                <li class="navLink"><a href="index_fps.html">FPS</a></li>
                <li class="navLink"><a href="index_mmo.html">MMO</a></li>
                <li class="navLink active"><a href="index_moba.html">MOBA</a></li>
                <li class="navLink"><a href="index_rts.html">RTS</a></li>
                <li class="navLink"><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li class="navLink"><a href="https://github.com/Damian-crypto" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </section>

        <div class="inlineFlex">
            <section class="rounded inline floating-box content">
                <h2 class="videoHeading">Battle Born 2016</h2>
                <div class="videoCard">
                    <iframe width="800" height="500" src="https://www.youtube.com/embed/wEtV0eGYmAU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <p class="description-text">
                    The Battleborn are a group of fighters whose overarching goal is to defend Solus, the last star in the universe, from the Varelsi. Within the campaign, the main objective is to stop Rendain, a Jennerit Warlord who betrayed the survivors years prior and allied himself with the Varelsi.                </p>
                <h2 class="videoHeading">Air Mech 2016</h2>
                <div class="videoCard">
                    <iframe width="800" height="500" src="https://www.youtube.com/embed/LTT55iDbSu0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <p class="description-text">
                    The game is set in the fictional Fortune Valley, where players can choose to race as one of three characters and build a crew to take down a criminal cartel known as "The House."
                    <br />
                    The story of Need for Speed Payback is focused on the characters' desire for revenge against The House and the high-stakes racing action that takes place in the game's open world environment.
                    <br />
                    In addition to the main storyline, Need for Speed Payback features a large open world environment with various races and events to participate in. The game also includes a variety of cars to unlock and customize, as well as an online multiplayer mode.
                </p>
            </section>
            <section class="rounded inline">
                <div class="sidebar">
                    <h2>Updates on games</h2>
                    <h3>Most Realistic Video Game</h3>
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/unByI7Ye6M8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <p>With the new year fast approaching and many new game releases on the horizon, it’s time to look ahead at some of the biggest upcoming games of 2023.  From Starfield coming to Xbox Series X|S and PC, to Spider-Man 2 releasing on PlayStation 5, and Legend of Zelda: Tears of the Kingdom coming to Nintendo Switch, there's LITERALLY something for everyone! So strap in and let's find out what's in store for us in 2023!</p>
                    <h3>Games on quantum computers</h3>
                    <img width="300" src="https://www.science.org/do/10.1126/science.adh2923/full/_0224_quantumcomputing.jpg" alt="quantum computer">
                    <a href="https://www.science.org/do/10.1126/science.adh2923/full/_0224_quantumcomputing.jpg">Image Courtesy</a>
                    <p>Improved AI: Quantum computing can help game developers create more advanced and intelligent non-player characters (NPCs) that are capable of adapting to player behavior and making more complex decisions.
                        Enhanced Graphics: Quantum computing has the potential to improve graphics rendering by enabling real-time ray tracing and more complex lighting effects.
                        Faster Processing: Quantum computers have the potential to speed up game processing and reduce load times, resulting in more seamless and immersive gaming experiences.
                        New Game Mechanics: Quantum computing can enable new types of game mechanics that are not possible with classical computing, such as quantum entanglement puzzles and quantum decision-making.
                        Better Security: Quantum computing can improve the security of online gaming by providing stronger encryption and faster decryption.
                        However, it is important to note that quantum computers are still in the early stages of development, and it may be some time before their full potential is realized in the gaming industry.</p>
                </div>
            </section>
        </div>

        <div id="app">
            <div class="vue-container">
                <h2>Comments</h2>
                <span class="vue-single-comment">
                    <div class="vue-row">
                        <table class="vue-comment-table vue-centered">
                            <tr>
                                <th>User Name</th>
                                <td><input type="text" v-model="userName" placeholder="John Doe"></td>
                            </tr>
                            <tr>
                                <th>User Avatar</th>
                                <td><input type="url" v-model="userAvatar" placeholder="Enter your avatar image url"></td>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <td><input type="text" v-model="commentTitle" placeholder="This is my topic"></td>
                            </tr>
                            <tr>
                                <th>Comment</th>
                                <td><textarea v-model="commentBody">This is comment body</textarea></td>
                            </tr>
                            <tr>
                                <td style="text-align: right" colspan="2">
                                    <button @click="commentPost" class="vue-btn-post">POST</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </span>

                <span class="vue-single-comment" v-for="(data, id) in dataSet">
                    <div class="vue-row">
                        <div class="vue-user-image-container vue-column">
                            <div class="vue-cell">
                                <img class="vue-user-image" width="120" :src="data['userAvatar']">
                            </div>
                        </div>
                        <div class="vue-column">
                            <div class="vue-row">
                                <div class="vue-cell">
                                    <span class="vue-title">{{ data['title'] }}</span>
                                </div>
                            </div>
                            <div class="vue-row">
                                <div class="vue-cell">
                                    <span class="vue-date-posted">{{ data['date'] }}</span>
                                </div>
                            </div>
                            <div class="vue-row">
                                <div class="vue-cell">
                                    <span class="vue-comment-body">{{ data['body'] }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vue-row">
                        <div class="vue-column">
                            <div class="vue-cell">
                                <span class="vue-user-name" :title="data['post']">{{ data['userName'] }}</span>
                            </div>
                        </div>
                        <div class="vue-column vue-righted">
                            <div class="vue-cell">
                                <button class="vue-btn-vote" @click="voteup(id)" :disabled="data['updisable']"><i class="fa-solid fa-arrow-up"></i></button>
                            </div>
                            <span>&nbsp;{{ data['voteCount'] }}&nbsp;</span>
                            <div class="vue-cell">
                                <button class="vue-btn-vote" @click="votedown(id)" :disabled="data['downdisable']"><i class="fa-solid fa-arrow-down"></i></button>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>

        <script type="module">
            import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';

            createApp({
                data() {
                    return {
                        dataSet: [
                        ],
                        commentTitle: "",
                        commentBody: "",
                        userAvatar: "",
                        userName: "",
                    };
                },
                methods: {
                    votedown(id) {
                        let votes = this.dataSet[id]['voteCount'];
                        votes--;
                        this.dataSet[id]['voteCount'] = votes;
                        this.dataSet[id]['downdisable'] = true;
                        this.dataSet[id]['updisable'] = false;
                    },
                    voteup(id) {
                        let votes = this.dataSet[id]['voteCount'];
                        votes++;
                        this.dataSet[id]['voteCount'] = votes;
                        this.dataSet[id]['downdisable'] = false;
                        this.dataSet[id]['updisable'] = true;
                    },
                    commentPost() {
                        let date = new Date();
                        if (this.commentTitle != "" && this.commentBody != "") {
                            let userName = this.userName;
                            let userAvatar = this.userAvatar;

                            if (this.userAvatar == "") {
                                userAvatar = "https://gyo.gg/images/image.php?var=venue&varb=albanian-gaming-arena";
                            }

                            if (this.userName == "") {
                                userName = "Anonymous User";
                            }
                            
                            let comment = {
                                title: this.commentTitle,
                                userName: userName,
                                post: 'Begginer in games',
                                date: `${date.getFullYear()}-${date.getMonth()}-${date.getDate()}`,
                                userAvatar: userAvatar,
                                voteCount: 0,
                                updisable: false,
                                downdisable: true,
                                body: this.commentBody
                            };

                            this.dataSet = [comment, ...this.dataSet];
                        } else {
                            alert("You cannot comment if you don't include title and comment body!");
                        }
                    }
                }
            }).mount("#app");
        </script>

        <footer class="rounded centered" style="background: rgba(0, 0, 0, 0.7); padding: 10px; color: white">
            &copy; 2023. Damian Chamel
        </footer>
    </body>
</html>
