<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Home | My Game Collection</title>

        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script type="text/javascript" src="script.js"></script>
    </head>

    <body onload="onLoad()">
        <header class="rounded" style="background: rgba(0, 0, 0, 0.7); padding: 10px">
            <h1 class="centered title">Game Collection - Home</h1>
        </header>

        <section class="rounded inline">
            <ul class="navbar-row">
                <li class="navLink active"><a href="index.html">Home</a></li>
                <li class="navLink"><a href="index_fps.html">FPS</a></li>
                <li class="navLink"><a href="index_mmo.html">MMO</a></li>
                <li class="navLink"><a href="index_moba.html">MOBA</a></li>
                <li class="navLink"><a href="index_rts.html">RTS</a></li>
            </ul>
        </section>

        <div class="inlineFlex">
            <section class="content rounded inline floating-box">
                <div class="description-box">
                    <dl>
                        <dt><h2>First Person Shooter - FPS</h2></dt>
                        <dd>
                            <p><strong>A first-person <img class="right" src="resources/fps.png" alt="first person shooter screen shot"> shooter (FPS) is a type of video game genre that emphasizes fast-paced action and focuses on the player's perspective. The player typically controls a character or avatar who must navigate through various levels or environments while shooting or otherwise eliminating enemy characters. The action is viewed from a first-person perspective, meaning that the player sees the world through the eyes of their character.</strong></p>
                        </dd>
                    </dl>
                </div>
                <div class="description-box">
                    <dl>
                        <dt><h2>Massively Multiplayer Online - MMO</h2></dt>
                        <dd>
                            <img class="left" src="resources/mmo.png" alt="multiplayer online game screen shot">
                            <p><strong>A massively multiplayer online game (MMOG) is a type of online game that allows thousands of players to participate and play together in a virtual world. Unlike traditional online games, which usually support a limited number of players, MMOGs support large numbers of simultaneous players in a shared game world.</strong></p>
                        </dd>
                    </dl>
                </div>
                <div class="description-box">
                    <dl>
                        <dt><h2>Multiplayer Online Battle Arena - MOBA</h2></dt>
                        <dd>
                            <p><strong>A multiplayer online battle arena (MOBA) is a type of online video game that typically features two teams of players battling each other in an arena-style environment. Each player controls a single character, or "hero," with unique abilities, and works with their team to destroy the enemy team's base while defending their own. MOBAs are known for their strategic depth and require coordination and communication among team members to achieve victory.</strong></p>
                        </dd>
                    </dl>
                </div>
            </section>
            <section class="rounded inline">
                <div class="sidebar">
                    <h2>Updates on games</h2>
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/PBktSo0bXas" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <p>In addition to the new foliage features, UE5. 1 also includes new workflows for virtual production that make it even easier to create stunning content. The most exciting experimental feature in UE5. 1 is the ML-enhanced deformation system in the animation tools</p>
                </div>
            </section>
        </div>

        <div id="app">
            <div class="vue-container">
                <h2>Comments</h2>
                <span class="vue-single-comment">
                    <div class="vue-row">
                        <table class="vue-comment-table vue-centered">
                            <tr>
                                <th>User Name</th>
                                <td><input type="text" v-model="userName" placeholder="John Doe"></td>
                            </tr>
                            <tr>
                                <th>User Avatar</th>
                                <td><input type="url" v-model="userAvatar" placeholder="Enter your avatar image url"></td>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <td><input type="text" v-model="commentTitle" placeholder="This is my topic"></td>
                            </tr>
                            <tr>
                                <th>Comment</th>
                                <td><textarea v-model="commentBody">This is comment body</textarea></td>
                            </tr>
                            <tr>
                                <td style="text-align: right" colspan="2">
                                    <button @click="commentPost" class="vue-btn-post">POST</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </span>

                <span class="vue-single-comment" v-for="(data, id) in dataSet">
                    <div class="vue-row">
                        <div class="vue-user-image-container vue-column">
                            <div class="vue-cell">
                                <img class="vue-user-image" width="120" :src="data['userAvatar']">
                            </div>
                        </div>
                        <div class="vue-column">
                            <div class="vue-row">
                                <div class="vue-cell">
                                    <span class="vue-title">{{ data['title'] }}</span>
                                </div>
                            </div>
                            <div class="vue-row">
                                <div class="vue-cell">
                                    <span class="vue-date-posted">{{ data['date'] }}</span>
                                </div>
                            </div>
                            <div class="vue-row">
                                <div class="vue-cell">
                                    <span class="vue-comment-body">{{ data['body'] }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vue-row">
                        <div class="vue-column">
                            <div class="vue-cell">
                                <span class="vue-user-name" :title="data['post']">{{ data['userName'] }}</span>
                            </div>
                        </div>
                        <div class="vue-column vue-righted">
                            <div class="vue-cell">
                                <button class="vue-btn-vote" @click="voteup(id)" :disabled="data['updisable']"><i class="fa-solid fa-arrow-up"></i></button>
                            </div>
                            <span>&nbsp;{{ data['voteCount'] }}&nbsp;</span>
                            <div class="vue-cell">
                                <button class="vue-btn-vote" @click="votedown(id)" :disabled="data['downdisable']"><i class="fa-solid fa-arrow-down"></i></button>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>

        <script type="module">
            import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';

            createApp({
                data() {
                    return {
                        dataSet: [
                            {
                                title: "This is the title",
                                userName: "User Name",
                                post: 'Master in games',
                                date: "2023-2-21",
                                userAvatar: "https://gyo.gg/images/image.php?var=venue&varb=albanian-gaming-arena",
                                voteCount: 10,
                                updisable: false,
                                downdisable: true,
                                body: "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
                            },
                            {
                                title: "This is the title 2",
                                userName: "User Name",
                                post: 'Beginner in games',
                                date: "2023-2-21",
                                userAvatar: "https://img.freepik.com/premium-vector/head-cyborg-gamer-esport-logo_177315-330.jpg?w=2000",
                                voteCount: 10,
                                updisable: false,
                                downdisable: true,
                                body: "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
                            },
                        ],

                        commentBody: "",
                    };

                    getFakePerson();
                },
                methods: {
                    votedown(id) {
                        let votes = this.dataSet[id]['voteCount'];
                        votes--;
                        this.dataSet[id]['voteCount'] = votes;
                        this.dataSet[id]['downdisable'] = true;
                        this.dataSet[id]['updisable'] = false;
                    },
                    voteup(id) {
                        let votes = this.dataSet[id]['voteCount'];
                        votes++;
                        this.dataSet[id]['voteCount'] = votes;
                        this.dataSet[id]['downdisable'] = false;
                        this.dataSet[id]['updisable'] = true;
                    },
                    commentPost() {
                        let date = new Date();
                        if (this.commentTitle.length != 0 && this.commentBody.length != 0) {
                            let comment = {
                                title: this.commentTitle,
                                userName: this.userName,
                                post: 'Begginer in games',
                                date: `${date.getFullYear()}-${date.getMonth()}-${date.getDate()}`,
                                userAvatar: this.userAvatar,
                                voteCount: 0,
                                updisable: false,
                                downdisable: true,
                                body: this.commentBody
                            };

                            this.dataSet = [...this.dataSet, comment];
                        }
                    },
                }
            }).mount("#app");
        </script>

        <footer class="rounded centered" style="background: rgba(0, 0, 0, 0.7); padding: 10px; color: white">
            &copy; 2023. Damian Chamel
        </footer>
    </body>
</html>
